/* Navbar Classes */

.main-navbar {
  display: flex;
  position: fixed;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 9vh;
  width: 100%;
  z-index: 1100;
}

.navbar-title-text {
  font-weight: 700;
  font-size: 2rem;
}

.navbar-button {
  font-weight: 600;
}

.main-footer {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.footer-text {
  font-size: 0.7rem;
  margin: 0px;
}

/* Small breakpoint */
@media screen and (max-width: 576px) {
  .navbar-title-text {
    font-size: 1.2rem;
  }

  .footer-text {
    font-size: 0.5rem;
  }
}

/* Medium breakpoint */
@media screen and (max-width: 768px) {
}

/* Large breakpoint */
@media screen and (max-width: 992px) {
}

/* Extra large breakpoint */
@media screen and (max-width: 1200px) {
}
