.main-header {
  background-image: url("/assets/img/header.JPG");
  height: 85vh;
  background-size: cover;
  background-position-x: center;
  background-position-y: center;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 100%;
}

.main-header-content {
  background-color: rgba(255, 255, 255, 1);
  padding: 2rem;
  max-width: 80%;
  box-shadow: 0px 1px 7px 2px #222;
}

.content-button-column {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.content-text-column {
  text-align: left;
}

.content-text {
  font-size: 5rem;
  font-weight: 600;
  color: #343a40;
}

.cta-button {
  font-size: 5rem;
  color: #343a40;
}

.cta-button:hover {
  color: rgba(100, 100, 255, 0.9);
  cursor: pointer;
}

/* Small breakpoint */
@media screen and (max-width: 576px) {
  .content-button-column {
    justify-content: center;
  }

  .content-text-column {
    text-align: center;
  }

  .cta-button {
    font-size: 3rem;
    padding-bottom: 0;
  }
}

/* Medium breakpoint */
@media screen and (max-width: 768px) {
  .content-text {
    font-size: 2.2rem;
  }
}

/* Large breakpoint */
@media screen and (max-width: 992px) {
}

/* Extra large breakpoint */
@media screen and (max-width: 1200px) {
}
